@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
  --main:#3ea1d4;
  --green:#318d4a;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,p,span,h1,h2,h3,h4{
  margin: 0;
  padding: 0;
}

body {
  background: var(--main)	;
  font-family: "Montserrat", sans-serif;
  font-style: normal;

}

/* .css-1qltlow-MuiTabs-indicator {
  display: none !important;
} */


@media screen and (max-width:576px) {
  .css-1wxkzlj-MuiTabs-flexContainer {
    flex-direction: column;
  }
}